/* Estilo geral*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cor de fundo clara */
}

/* Header da página */
header {
    background-color: #009440; /* Verde */
    color: white;
    padding: 20px;
    text-align: center;
}

header img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

/* Navegação */
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    padding: 8px 16px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: white;
    color: black;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

/* Imagem principal */
.imagem-principal {
    max-width: 800px;
    width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

/* Títulos */
h2 {
    color: #ffcb00;
    font-size: 30px;
    margin: 20px 0; /* Espaçamento acima e abaixo do h2 */
}

h3 {
    color: #302681;
    font-size: 24px;
    margin: 20px 0; /* Espaçamento acima e abaixo do h3 */
}

/* Linha após h3 */
h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #302681;
    margin-top: 5px;
}

/*formulários */
label {
    display: block;
    margin: 10px 0 5px;
}

/* Cabeçalho */
input[type="text"],
input[type="email"] {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 15px; 
    border-radius: 5px;
    border: 1px solid #ccc; 
}

/* footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* fotografias */
.fotos {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    margin: 20px 0; 
}

.foto-item {
    background-color: #f9f9f9; 
    border-radius: 5px; 
    padding: 10px; 
    margin: 10px; 
    text-align: center; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.fotos img {
    max-width: 200px; 
    height: auto; 
    border-radius: 5px; 
}

.foto-item p {
    margin-top: 10px; 
    font-size: small; 
    color: #555; 
}

/* iframe */
section iframe {
    display: block;
    margin: 20px auto; 
}

pre {
    font-size: 14px;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    white-space: pre-wrap;
}

/* Ttabela */
table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px;
}

/* título tabela */
th {
    background-color: #009440; 
    color: white;
    padding: 12px; 
    text-align: center; 
    border: 1px solid #000000; 
}

/* Cédulas tabela */
td {
    padding: 10px; 
    border: 1px solid #000000; 
}





