/* Estilo geral */
* {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para dispositivos maiores */
@media (min-width: 601px) {
    body {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas:
            'header header header'
            'menu main aside'
            'footer footer footer';
    }

    .nav-multimedia {
        grid-area: menu;
        text-align: center;
        background-color: #ffcb00;
        padding: 10px;
    }

    .nav-multimedia a {
        display: inline-block;
        color: white;
        text-decoration: none;
        font-size: 20px;
        display: center;
        padding: 15px;
        border-radius: 10px;
        transition: background-color 0.3s, color 0.3s;
    }

    nav.main-nav {
        grid-area: menu;
        background-color: #ffcb00;
        padding: 10px;
        height: 100%;
    }

    nav.main-nav a {
        margin: 0 15px;
        text-align: center;
        color: white;
        text-decoration: none;
        font-size: 1.5em;
        display: block;
        padding: 35px;
        border-radius: 10px;
        transition: background-color 0.3s, color 0.3s;
    }

    .dropdown {
        display: none;
    }

}

/* Estilo para dispositivos menores */
@media (max-width: 600px) {
    body {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas:
            'header'
            'menu'
            'main'
            'aside'
            'footer';
        gap: 10px;
    }

    /* Menu dropdown */
    .main-nav {
        display: none;
    }


    .dropdown {
        float: left;
        background-color: #ffcb00;
        padding: 10px;
    }

    .dropdown .dropbtn  {
        font-size: 18px;
        color: white;
        margin: 0;
        border: none;
        padding: 14px 16px;
        text-align: left;
        outline: none;
        background-color: inherit;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 100%;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        float: none;
        text-align: left;
    }

    nav a:hover, .dropdown:hover .dropbtn {
        background-color: #302681;
      }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .nav-multimedia {
        grid-area: menu;
        text-align: center;
        background-color: #ffcb00;
        padding: 10px;
    }

    .nav-multimedia a {
        display: inline-block;
        color: white;
        text-decoration: none;
        font-size: 20px;
        display: center;
        padding: 15px;
        border-radius: 10px;
        transition: background-color 0.3s, color 0.3s;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

/* Header da página */
header {
    grid-area: header;
    background-color: #009440;
    padding: 20px;
    text-align: center;
}

/* Navegação geral*/

nav a:hover {
    background-color: #302681;
    color: white;
}

nav a.active {
    background-color: grey;
    color: #ffffff;
}

/* Conteúdo principal */
main {
    grid-area: main;
    padding: 20px;
}

/* Sidebar */

aside {
    grid-area: aside;
    height: 100%;
    padding: 0;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Imagem no Aside */
aside img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Footer */
footer {
    grid-area: footer;
    background-color: #302681;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Seções */
section {
    margin-bottom: 40px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Imagem principal */
.imagem-principal {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* Títulos */
h1,
h2,
h3 {
    color: #302681;
}

h1 {
    font-size: 40px;
    margin: 20px 0;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    margin: 20px 0;
}

h3 {
    font-size: 24px;
    margin: 20px 0;
}

/* Linha após h3 */
h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #302681;
    margin-top: 5px;
}

/* Formulários */
label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Fotografias */
.fotos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.foto-item {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.fotos img {
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}

.foto-item p {
    margin-top: 10px;
}

.fotos a {
    cursor: zoom-in;
    text-decoration: none;
}

iframe {
    display: block;
    margin: 20px auto;
}

/* Estilo das listas */
section ol,
section ul {
    margin: 20px 0 20px 30px;
    padding-left: 20px;
}

ol li:nth-child(odd),
ul li:nth-child(odd) {
    color: #009440;
    font-size: 2em;
}

ol li:nth-child(even),
ul li:nth-child(even) {
    color: #ffcb00;
    font-size: 2em;
}

ol {
    list-style-type: lower-roman;
}

ul {
    list-style-type: circle;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #009440;
    color: white;
    padding: 12px;
    text-align: center;
    border: 1px solid #000;
}

td {
    padding: 10px;
    border: 1px solid #000;
}

/* Tabela interesses */
.tabela-interesses {
    border-collapse: collapse;
    width: 100%;
}

.tabela-interesses th,
.tabela-interesses td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

.tabela-interesses tr:nth-child(even) {
    background-color: #ffffff;
}

.tabela-interesses tr:nth-child(odd) td:nth-child(odd) {
    background-color: #ffcb00;
    color: white;
}

.tabela-interesses tr:nth-child(odd) td:nth-child(even) {
    background-color: #302681;
    color: white;
}